@use "variables";

.container {
  background-size: cover;
  min-height: 43.75rem;
  background-image: linear-gradient(103.24deg, rgba(0, 8, 29, 0.9) 23.83%, rgba(0, 8, 29, 0.3) 96.1%), url(../../dist/images/background_website_large.jpg);
  
}

.header__container {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 0 3rem ;
  height: 5.375rem;

  &__logo {
    color: variables.$colorOficer;
    fill: currentColor;
    width: 9.25rem;
  }

  &__nav {  
    &__globe {
      color: variables.$colorText;

      &-icon {
        position: relative;
        left: 25px;
        top: 3px;
      }
    }

    select {
      background-color: transparent;
      color: variables.$colorText;
      border-radius: .25rem;
      padding: 6px 32px;
      background-color: rgba(22,22,22,0.7);
      font-size: 1rem;
    }

    &__buttom {
      background-color: variables.$colorOficer;
      color: variables.$colorText;
      text-decoration: none;
      padding: 6px 16px;
      border-radius: .25rem;
      margin-left: 12px;
    }
  }
}