@use 'variables';

.plans {
  margin-top: -310px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem;
  gap: 1rem;

  //tablet
  @media (max-width: 1024px) {
    padding: 0 2rem;
  }

  //mobile
  @media (max-width: 767px) {
    grid-template-columns: 1fr;
    padding: 0 1.5rem;
  }


  &__container {
    background: radial-gradient(99.93% 134.44% at 17.93% 0%, #09143C 0%, #101338 57.21%, #400E20 99.57%);
    border-radius: 8px;

    &__item {
      padding: 2.75rem 6rem 2.5rem 6rem;

      //tablet
      @media (max-width: 1024px){
        padding: 1.625rem 2.5rem 2.5rem 2.5rem;
      }

      @media (max-width: 767px) {
        padding: 1.375rem 1rem 2rem 1rem;
      }

      img {
        width: 100%;
      }

      .text {
        margin-top: 1rem;
      }
    }
  }
}