$backgroundColor: rgba(0, 8, 29, 1);
$colorText: rgba(255, 255, 255, 1);
$colorOficer: rgba(229, 9, 20, 1);
$faqBackground: rgba(19, 33, 68, 1);


// $mainFont: 4rem;
// $mainText: 1.5rem;
// $text: 1rem;
